<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div>
  <label for="startDate">Select startDate</label>
  <div>
    <input type="date" id="startDate" name="startDate">
  </div>
</div>
<div>
  <label for="endDate">Select endDate</label>
  <div>
    <input type="date" id="endDate" name="endDate">
  </div>
</div>

<button type="GetReport" onclick="GetReport()">
  <i></i> Get Measurements Report
</button>

<div id="report"></div>
<script src="Utilities.js"></script>

</body>
</html>